<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="blur_line" align=center>
        <img src="/images/revise_check.png"/><br>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam accusantium alias quaerat placeat velit eaque libero? Veniam autem totam numquam, voluptas itaque maiores magnam rerum, quo harum deserunt adipisci non.
    </div>
    
</body>
</html>
<style>
body {
    animation-duration: 1s;
    animation-name: slidein;
    position: relative;
    top: 100px;
}
#blur_line:before {
  content: '';

  position: absolute;

  top: 0; left:0; right:0; bottom:0;



  filter: blur(6px); 
  z-index:-1;
  background: inherit;
    background-color: yellow;
    filter: blur(6px); 
}
@media (max-width: 575.98px) {
    img{
        width:70vw;
        height:70vw;
    }
}
@keyframes slidein {
  from {
    top: -100px;
  }

  to {
    top: 100px;
  }
}
</style>