<footer class="footer mt-auto py-3 bg-secondary border-top border-secondary text-white">
  <div class="ml-5 pr-5">
    <h3>
      Ocean - IT
    </h3>
    <hr>
    <span>
      &copy; 2020. Conative &gt; K.Y.J. <br> All of things cannot be copied without permission.
      <dl>
        <dt>Total</dt>
        <dd>
          <%=count_data[0].totalCount%>
        </dd>
      </dl>
      <dl>
        <dt>Today</dt>
        <dd>
          <%=count_data[0].todayCount%>
        </dd>
      </dl>
    </span>
  </div>
  
</footer>
</body>
</html>