<div class="col-lg-0 col-xl-2" id="hide">
    <table class="table table-hover table-bordered text-center" style="width: 200px; cursor: pointer;">
        <tbody>
            <tr onclick="location.href='/research/results/patent?schKeyword=&page=1'">
                <td>특허</td>
            </tr>
            <tr onclick="location.href='/research/results/treatise?schKeyword=&page=1'">
                <td>논문</td>
            </tr>
            <tr onclick="location.href='/research/results/announcement?schKeyword=&page=1'">
                <td>발표</td>
            </tr>
        </tbody>
    </table>
</div>