<%- include('../../include/header.ejs') %>
    <link rel="stylesheet" href="/stylesheets/board.css" />
    <section>
        <div id="indexbg" class="mb-5"></div>
        <div id="indexbg_text">
            <h1 class="fs-1">문의 사항</h1>
            <div>아직 미완성 입니다..!</div>
        </div>
        <div>
            <table class="table table-responsive-sm table-hover text-center">
                <thead>
                    <tr>
                        <th scope="col" width="10%">순번</th>
                        <th scope="col" width="40%">제목</th>
                        <th scope="col" width="20%">작성자</th>
                        <th scope="col" width="20%">날짜</th>
                    </tr>
                </thead>
                <tbody>

                    <tr>
                        <td>1</td>
                        <td>2</td>
                        <td>3</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>2</td>
                        <td>1</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td>1</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>3</td>
                        <td>1</td>
                        <td>2</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="mx-auto" style="text-align: right;"><a href="./inquiryWrite" type="button"
                class="btn btn-primary">작성하기</a></div>
    </section>
    <br><br>
    <%- include('../../include/footer.ejs') %>