<%- include('../../include/header.ejs') %>

    <link rel="stylesheet" href="/stylesheets/board.css" />
    <section>
        <div id="indexbg" class="mb-5"></div>
        <div id="indexbg_text">
            <h1 class="fs-1">자유 게시판</h1>
            <div>아직 미완성입니다..!</div>
        </div>
        <div class="container">
            <div class="row">
                <div id="researchDetailContent" class="col-12">
                    <h3 class="mb-5" align=center>
                        Ocean-IT
                    </h3>
                    <article>
                        <table class="table table-responsive-sm text-center"
                            style="box-shadow: 0 4px 8px 0 rgb(0, 0, 0, 0.2);">
                            <div class="row">
                                <thead>
                                    <tr>
                                        <th colspan="2" bgcolor="#dbdbdb">글 제목
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td style="width: 15%;">작성자</td>
                                        <td colspan="2"></td>
                                    </tr>
                                    <tr>
                                        <td>작성일</td>
                                        <td colspan="2"></td>
                                    </tr>
                                    <tr>
                                        <td>내용</td>
                                        <td colspan="2" style="text-align: left;"></td>
                                    </tr>
                                </tbody>
                        </table>
                    </article>
                    <a href="" class="btn btn-primary">목록</a>
                    <a href="" class="btn btn-primary">수정</a>
                    <a href="" class="btn btn-primary">삭제</a>
                </div>
            </div>
            <br><br>
            <div style="background-color: #dbdbdb;">
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="댓글을 입력해주세요" aria-label="Recipient's username"
                        aria-describedby="basic-addon2">
                    <div class="input-group-append">
                        <span class="input-group-text" id="basic-addon2">작성</span>
                    </div>
                </div>
                <p>댓글 보기란입니다</p>
                <p>댓글 보기란입니다</p>
                <p>댓글 보기란입니다</p>
            </div>
    </section>
    <%- include('../../include/footer.ejs') %>